<div class="main main_dashboard">
    <div class="title">
        <h1>Dashboard</h1>
    </div>
    <div class="user_info">
        <%= %>
    </div>
    <div class="user_tasks">
        タスク一覧
    </div>
    <div class="user_learning_record">
        学習記録一覧
    </div>
</div>