<div class="main home_main">
    <div class="home_title">
        <h1>Task & Study</h1>
    </div>
    <div>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Login", new_session_path %>
    </div>
</div>